.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  background-color: #251010;
  
}

.logo {
  height: 70px;
  z-index: 2;
  margin-left: 1vw;
  cursor: pointer;
}

.bounce {
	-moz-animation: bounce 1.9s infinite;
	-webkit-animation: bounce 1.9s infinite;
  animation: bounce 1.9s infinite;
  position: absolute;
  margin-top: 20vh;
  font-size: 5vh;
  cursor: pointer;
  color: #DAEFEF;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce2 {
	-moz-animation: bounce 1.9s infinite;
	-webkit-animation: bounce 1.9s infinite;
  animation: bounce 1.9s infinite;
  position: absolute;
  margin-top: 75vh;
  font-size: 5vh;
  cursor: pointer;
  color: #DAEFEF;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bluePadding{
  height: 6vh;
  width: 100vw;
  background-color: #251010;
}
.section1 {
  height: 92vh;
  width: 100vw;
  background-image: url("./orange triangle.svg");
  background-color: #251010;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orangeHeader {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.welcome {
  font-size: 26vw;
  margin-bottom: 35vh;
  mix-blend-mode: difference;
  color: white;
  font-weight: 900;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.name {
  font-size: 5vw;
  color: #DAEFEF;
  padding-left: 1vw;
  cursor: pointer;
  margin-top: 0;
}

.dd {
  color: rgba(255, 255, 255, .5);
  padding-left: 1vw;
  font-size: 2vw;
  margin-top: auto;
  
}

.links {
  color: #DAEFEF;
  /* margin-right: 1vw; */
  bottom: 0;
  display: flex;
  margin-top: auto;
}

.link {
  margin-right: 1vw;
  cursor: pointer;
  transition: .84s;
  border-bottom: 5px solid #000000;
  
}

.link:hover {
  border-bottom: 5px solid #251010;
}

.section2 {
  height: auto;
  width: 100vw;
  background-color: #251010;
  min-height: 100vh;
}

.aboutMe {
  color: white;
  font-size: 4em;
  text-align: left;
  width: 90%;
}

.skillsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}



.sectionContainerSkills {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.halfC {
  -webkit-clip-path: ellipse(50% 100% at 50% 100%);
  clip-path: ellipse(50% 100% at 50% 100%);
    width: 100vw;
  height: 100px;
  background-color: white;
  font-size: 5vw;
  padding-top: 5vh;  
  padding-bottom: 3vh;
}
.iconContainer {
  height: 120px;
  margin: auto 100px;
}

.section3 {
  height: 75vh;
  width: 100vw;
  background-color: white;
}

.section4 {
  height: auto;
  width: 100vw;
  background-color: white;
}

.section5 {
  height: 92vh;
  width: 100vw;
}

.sectionContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionHeading {
  font-size: 5vw;
  color: #DAEFEF;
  text-align: left;
  width: 100%;
  margin-bottom: 50px;
}

.sectionHeadingProj {
  font-size: 5vw;
  color: #251010;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  
}

.projectContainer {
  width: 80%;
  height: auto;
}

.projImage {
  width: 75%;
  border-radius: 10px;
  margin-top: 5vh;
  transition: .84s;
}

.projImage:hover {
  width: 79%;
}

.project {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #DAEFEF;
  margin-bottom: 5vh;
}

.projectTitle {
  font-size: 3em;
  margin-bottom: 5vh;
  border-bottom: solid 1px #DAEFEF;
}

@media screen and (max-width: 750px) {
  .skillsContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .iconContainer {
    height: 60px;
    margin: 20px 40px;
  }

  .bluePadding{
    height: 10vh;
    width: 100vw;
    background-color: #000000;
  }

  .welcome {
    font-size: 27vw;
    margin-bottom: 60vh;
    mix-blend-mode: difference;
    color: white;
  }
  .name {
    font-size: 8vw;
    color: #DAEFEF;
    padding-left: 1vw;
    cursor: pointer;
    margin-top: auto;
  }
  .aboutMe {
    color: white;
    font-size: 2em;
    text-align: left;
    width: 90%;
  }
  
}